@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  height: 95%;
  width: 99%;
  background: black;
  font-family: "Merriweather", sans-serif;
}

.home {
    height: 100%;
    width: 100%;
    background-color: black;
}

.home-header {
    height: 81px;
    /* height: 2%; */
    width: 100%;
    background-color: lightgray;
    padding: 0.5%;
}

.logo-title-div {
    height: 100%;
    width: 100%;
    display: flex;
    line-height: 100px;
    white-space: nowrap;
    justify-content: space-between;
}

.company-name-span {
    color: rgb(25, 25, 83);
    justify-content: space-evenly;
}

.api-buttons-div {
    justify-content: space-evenly;
}
